 html{
    background-color: rgb(127, 255, 212);
   
  }
  body{
    width: 80%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
 
  }
  .success, .error{
    color: white;
    padding: 5px;
    margin: 5px 0px 15px 
  }
  .success {
    background: green;
  }
  .error{
    background: red;
  }